/*body {
	margin: 0;
	padding: 0;
	background: #222;
	color: #EEE;
	text-align: center;
	font: normal 9pt Verdana;
}*/

a:link, a:visited {
	color: #EEE;
}

img {
	border: none;
}


/*#normal2, #normal3, #normal4, #normal5 {
	display: none;
}*/
*[class^='normal']{ 
	display: none;
	animation: example1 2s linear;
}

#gallery {

	
	justify-content: space-evenly;
	display: flex;
	flex-direction: column-reverse;
	align-items: flex-end;
	align-content: space-between;
}

#thumbs {
	text-align: center;
	width: 820px;
	height: 300px;
	white-space: nowrap;
	overflow: auto;
}

#bigimages {
	width: 800px;
	float: left;
	position: relative;
}

#thumbs img {
	width: 200px;
	height: 130px;
	cursor: default;
	border: 2px solid #000;
}

#bigimages img {
	border: 4px solid #555;
	margin-top: 5px;
	width: 750px;
	height: 337px;
}

#thumbs a:link, #thumbs a:visited {
	width: 130px;
	height: 130px;
	border: 6px solid #555;
	margin: 6px;
	float: left;
}

#thumbs img:hover{
	border: 2px solid #888;
	cursor: pointer;
}

.highlight {
	border: 2px solid #CC0D0D;
}

a.gallery_hover {
    /*cursor: pointer;*/
    display: block;
    filter: alpha(opacity=0);
    font-size: 0;
    height: 345px;
    left: 20px;
    opacity: 0;
    position: absolute;
    top: 1px;
    width: 385px;
}
/*a.gallery_hover:hover {
  filter: alpha(opacity=50);
  opacity: 0.5;
}
*/

a.gallery_hover_next {
  left: 396px;
  width: 385px;
}

a.gallery_hover div {
    background: rgba(0, 0, 0, 0.35) url("../images/slideshow_sprite.gif") no-repeat 0 0;
    height: 60px;
}

a.gallery_hover div.anchor-fill {
    background-position: -5000px 0;
    height: 145px;
}
a.gallery_hover_prev div {
    background-position: 0 0;
}

a.gallery_hover_next div {
  background-position: 340px -60px;
}

@keyframes example {
    0%   {opacity: 0.2;}
    25%  {opacity: .4}
    50%  {opacity: 0.6;}
    75%  {opacity: 0.8;}
    100% {opacity: 1;}
}

@keyframes example1 {
    0%   {opacity: 0;}
    100% {opacity: 1;}
}

#navigate {
	position: absolute;
    background-position: -5000px 0;
    width: 300px;
    height: 145px;
    background: rgba(0, 0, 0, 0.2) url("../images/slideshow_sprite.gif") no-repeat 0 0;
}

#caption {
	    position: absolute;
    height: 20px;
    width: 94%;
    margin-top: 200px;
    margin: 200px 0 0 20px;
    text-align: center;
    vertical-align: middle;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    color: #E9EC80;
    font-size: 14px;
    display: block;
    background-color: rgba(0,0,0,0.3);
}

.overlay {
	top: 0; left: 0; position: fixed; width: 100%; height: 100%; background-color: gray;
}